<!--
/**
 * Copyright Ken Ono, Fabrica Technolology 2016
 * Source code license under Creative Commons - Attribution-NonCommercial 2.0 Canada (CC BY-NC 2.0 CA)
 */
-->
<div>
  <common-app-button color="primary" label="Deal" (click)="deal()"></common-app-button>
  <common-app-button *ngIf="canShowHand()" color="primary" (click)="showHand()" label="Show Hand"></common-app-button>
  <common-app-button *ngIf="shouldShowTakeTrick()" color="primary" (click)="takeTrick()" label="Take Trick"></common-app-button>
  <common-app-button *ngIf="shouldShowSort()" color="primary" (click)="sort()" label="Sort Hand"></common-app-button>
  <common-app-button *ngIf="shouldShowUndo()" color="outline pull-right" (click)="undo()" label="Undo"></common-app-button>
</div>
<div *ngIf="shouldShowTableProxy()"
     style="height:15vh"
>
  <!-- DECK -->
  <deck-view
          *ngIf="shouldShowDeck()"
          [dragula]="'drag-and-drop'"
          [ngStyle]="dropAreaStyle()"
          data-drag-source="DECK"
          data-drop-target="DECK"
          [imgStyle]="landscapeCardStyle()"
  >
  </deck-view>
  <!-- PILE -->
  <pile-view
          *ngIf="shouldShowPile()"
          [dragula]="'drag-and-drop'"
          [ngStyle]="dropAreaStyle()"
          [imgStyle]="landscapeCardStyle()"
          [attr.data-card-rank]="topCardInPile()?.rank"
          [attr.data-card-suit]="topCardInPile()?.suit"
          data-drag-source="PILE"
          data-drop-target="PILE"
  >
  </pile-view>
  <!-- TABLE DROP -->
  <div
          *ngIf="shouldShowTableDrop()"
          [dragula]="'drag-and-drop'"
          data-drop-target="TABLE"
          [ngStyle]="dropAreaStyle()">
    <div style="width:100%; height: 100%; background-color: green; border-color: grey; border-width: 5px; border-style: solid; margin: 5px">
      Drag here to place card on table
    </div>
  </div>

</div>


<!-- HAND -->
<div
        [dragula]="'drag-and-drop'"
        style="padding-left: 20px; padding-right: 20px; overflow-y: scroll"
        data-drop-target="HAND"
        data-drag-source="HAND"
>
  <style>
    .gu-transit, .gu-mirror {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
      display:inline-block ; width: 71px !important; height: 100px!important; padding-left: 1px; padding-right: 1px
    }
  </style>
  <playing-card

          *ngFor="let card of getCardsInHand()"
          [imgStyle]="inHandCardStyle()"
          style="display:inline-block ; width: 71px; height: 100px; padding-left: 1px; padding-right: 1px "
          [card]="card"
          [attr.data-card-rank]="card.rank"
          [attr.data-card-suit]="card.suit"
          data-drag-source="HAND"
          data-drop-target="HAND">
  </playing-card>
</div>
