
.card-count {
  border-radius: 50%; border-style:solid;border-width: 1px; border-color: black; background-color: white; height:1.6em; width:3ch; padding: 1px; text-align: center;
}

.bet {
  border-radius: 5%; border-style:solid;border-width: 1px; border-color: black; background-color: white; height:1.6em; width:3ch; padding: 1px; text-align: center;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}